.specification {
    display: inline-block;
    background-color: $dark;
    color: $white;

    .section__title {
        color: $white;
        text-align: center;
    }
}

.specification__icon {
    fill: $white;
    stroke: $white;
}