section#features.features(data-index="3")
    +preload('Особенности')
    .section-main.slideInBase.wow(data-wow-offset="80")
        .container.section__content
            +sectionHeader('Особенности', 'Особенности системы')
            .features__list
                +features('montage', 'Простая установка без нарушения интерьера')
                +features('mobile-app', 'Управление с мобильных устройств')
                +features('set-mobile', 'Настройка с мобильных устройств')
                +features('home', 'Режим постановки “Остаюсь”')
                +features('set-web', 'Удаленное управление и настройка с пульта охраны с помощью Web приложения')
                +features('signal', 'Беспроводные датчики 868.0 ... 868.6МГц, резервирование каналов, расстояние - до 2000м')
                +features('groups', '8 групп охраны')
                +features('battery', 'Встроенная LiIon батарея, до 25 часов работы без основного питания')
                +features('alarm', 'Работа с любыми ContactID пультами охраны напрямую')
                +features('hand', 'Режим "свободные руки" для постановки/снятия с охраны без ввода кода')
                +features('power', 'Простая регистрация элементов системы по включению')
                +features('teg', 'Уникальные технические решения для удобства пользователей системы')