nav.fixed-menu
    +menuItem('Maks Systems', 'hero', '1')
    +menuItem('Инновации', 'innovation', '2')
    +menuItem('Особенности', 'features', '3')
    +menuItem('Работа', 'work', '4')
    +menuItem('Установка', 'montage', '5')
    +menuItem('Настройка', 'setting', '6')
    +menuItem('Мониторинг', 'monitoring', '7')
    +menuItem('Управление', 'management', '8')
    -//+menuItem('Характеристики', 'specification', '9')
    +menuItem('Обратная связь', 'feedback', '10')