footer.footer
  .container
    .footer-block
      h4.footer-block__title Отдел продаж
      a(href="mailto:sales@itvsystems.com.ua") sales@itvsystems.com.ua
      .footer-block--two
        a(href="tel:+380442486588") +38 044 248-65-88 
        a(href="tel:+380442486589") +38 044 248-65-89
        a(href="tel:+380442449405") +38 044 244-94-05
        a(href="tel:+380442449407") +38 044 244-94-07
    .footer-block
      h4.footer-block__title Служба поддержки
      a(href="mailto:support@maks.systems") support@maks.systems
      div время работы: ПН-ПТ 10-18
      .footer-block--two
        a(href="tel:+380955702948") +38 095 570 29 48
        a(href="tel:+380676707527") +38 067 670 75 27
    .footer-block
      h4.footer-block__title Адрес
      div Василия Липкивского, 1<br>Киев, 03035, Украина
      .copyright Все права защищены. 2019