section#hero.hero(data-index="1")
    .hero__section.hero__section--main.fadeIn
      .container
        +image("bg/hero_img.png", "", "hero__img")

    .hero__section.hero__section--preload
      .container
        +image("bg/hero_img_line.svg", "", "hero__img")
    
    .hero__content
      h1.site-title Maks systems
      h2.site-subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore...
      a(href="#innovation").down-arrow