section#innovation.innovation(data-index="2")
    +preload("О системе")
    .section-main.innovation__section--main.slideInBase.wow(data-wow-offset="80" data-image="1")
      .container.section__content
        .innovation__content
          .left-block
            +sectionHeader("О системе", "Инновации")
            .section__desc 
              p MAKS PRO – новая разработка беспроводной охранной сигнализации от компании Integrated Technical Vision Ltd. Предназначена для охраны квартир, офисов и коттеджей.
              p Дизайн системы и её элементов максимально приближен к дизайну современной квартиры, дома, офиса, и поэтому система может легко вписаться в любой интерьер, благодаря различным цветовым гаммам оборудования.
              p При проектировании системы учтены все лучшие характеристики как отечественных, так и зарубежных аналогов. Стильная и компактная система MAKS PRO – доступна и проста для самостоятельной установки, а для специалистов в области пультовой охраны её наладка и подключение к центру мониторинга займет не более 10 минут
        
      .bottom-block
          .color__switch
            .color__item(data-color="1")
            .color__item(data-color="2")
            .color__item(data-color="3")