section#monitoring.monitoring(data-index="7")
    +preload('Мониторинг')
    .section-main.slideInBase.wow(data-wow-offset="80")
        .container.section__content
            .section__menu-item Мониторинг
            .monitoring__content
                .left-block
                    h2.section__title Центры мониторинга и MAKS Cloud
                    .bottom-block__icon
                        +icon('cloud', 'bottom__icon')
                    .section__desc
                    <p>Мы позаботились о защите ваших интересов и безопасности в MAKS Cloud. Подмножество охранных приборов, принадлежащих учетной записи центра мониторинга, защищено.</p>
                    <p>Прибор невозможно переключить на другой центр мониторинга, предварительно не отключив на предыдущем центре.</p>
                    <p>Также выполняется полное протоколирование действий по настройке системы  инженерным составом.</p>
                .right-block
                    h2.section__title Коммуникация с центрами мониторинга
                    .bottom-block__icon
                        +icon('communication', 'bottom__icon')
                    .section__desc
                    <p>Современный канал связи WiFi или Ethernet, резервированный GSM / GPRS коммуникатором, обеспечивает мгновенную и стабильную связь с приемными устройствами центров мониторинга, а также смартфонами пользователей.</p>
                    <p>Для резервирования используется 2 IP адреса приемников центра мониторинга и уникальный протокол одно-тональной голосовой GSM связи с модемами приемника MAKS Ethernet или Гермес-Т.</p>