section#montage.montage(data-index="5")
    +preload('Установка')
    .section-main.slideInBase.wow(data-wow-offset="80")
        .montage__img
        .container.section__content
            +sectionHeader('Установка', 'Простота установки системы')
            .section__desc
                p Теперь простота установки системы доступна для всех категорий потребителей.
                ul.montage__list
                    each val in ['Для установки не нужно разбирать элементы системы, доступ к электронике ограничен, что значительно повышает отказоустойчивость системы.', 'Большинство элементов системы имеют кронштейны с креплением типа "байонет".', 'Самый требовательный к надежности и простоте установки магнитоконтактный датчик MAKS WDС имеет уникальную капсульную конструкцию и может монтироваться на двусторонний скотч или саморезы.', 'Система использует популярные типоразмеры элементов питания AAA, CR123, CR2032']
                        li.montage__item #{val}
