section#specification.specification(data-index="9")
    .container.section__content
        h2.section__title Характеристики
        ul.spesfication__tabs
            li.specification__item-image
                +icon('keypad', 'specification__icon')