section#work.work(data-index="4")
    +preload('Работа')
    .section-main.slideInBase.wow(data-wow-offset="80")
        .container.section__content
            +sectionHeader('Работа', 'Как это работает')
            +image('scheme.svg', '', 'work__scheme')
