// Colors
$primary: #FF9736;
$dark: #394151;
$gray: #C9CDD3;
$light-gray: #ECEEF1;
$beige: #F8F7F2;
$white: #fff;
$brown: #211313;
$neutral: #999;

// Resolutions
$phones: 480px;
$tablets: 768px;
$laptops: 992px;
$desktops: 1200px;