body, html {
  height: 100%;
}

body {
  @include font(rem(16px), 'Raleway', $dark);
  font-size: 16px;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  position: relative;
}

.container {
  margin: 0 auto;
  width: 90%;
  /*max-width: 1240px;*/
}

section {
  width: 100%;
  height: auto;
  min-height: 100vh;
  position: relative;
}

button {
  border: 0;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0;
}

p {
  margin: 0 0 rem(30px) 0;
  padding: 0;
}